---
- name: Creates directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ adm_user }}"
    group: "{{ adm_group }}"
    mode: '0775'
    force: false
  with_items:
    - "{{ app_home_dir }}"
    - "{{ nexus_home }}"

- name: Creates directory
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ nexus_user }}"
    group: "{{ nexus_user }}"
    mode: '0775'
  with_items:
    - "{{ nexus_data }}"

- name: Copy file
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ adm_user }}"
    group: "{{ adm_group }}"
    mode: '0644'
    backup: true
  with_items:
    - { src: '.env.j2', dest: '{{ nexus_home }}/.env' }
    - { src: 'docker-compose.yml.j2', dest: '{{ nexus_home }}/docker-compose.yml' }

- name: Restart nexus
  shell: echo success
  notify:
    Restart nexus
